In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.options.display.max_rows = 10

In [3]:
# Ouvrir le tableau
df = pd.read_csv('df_clean.csv')
df.head()

,identifiant,Arrondissement,Regime_particulier,Duree,Mois,Latitude,Longitude
0,3210,13.0,Livraison_BUS,1140.0,8.0,48.836963,2.349414
1,3232,13.0,Stationnement_genant,1440.0,7.0,48.821540,2.372814
2,3271,5.0,Arret_vigipirate_non_perennise,1440.0,8.0,48.848496,2.344361
3,3280,5.0,Arret_vigipirate_perennise,1440.0,8.0,48.847201,2.344619
4,3277,5.0,Arret_genant_divers,1440.0,8.0,48.840228,2.336802

In [4]:
# Q1 : Dans quel arrondissement il y a le plus de places disponibles
# aux plages de stationnement ouverts?

In [5]:
g1 = df.groupby(by='Arrondissement')
g1.get_group(1)

,identifiant,Arrondissement,Regime_particulier,Duree,Mois,Latitude,Longitude
234,6672,1.0,Stationnement_genant,1440.0,8.0,48.861128,2.340839
391,7751,1.0,Arret_simple,1440.0,7.0,48.856379,2.346050
514,859801D20110630115636,1.0,Stationnement_genant,1440.0,8.0,48.863714,2.345404
522,772,1.0,Arret_vigipirate_perennise,1440.0,7.0,48.866469,2.332963
785,10233,1.0,Stationnement_genant,1440.0,8.0,48.862904,2.339510
...,...,...,...,...,...,...,...
19998,824918D20150226170706,1.0,Arret_genant_divers,1440.0,8.0,48.859170,2.346238
20275,1450,1.0,Stationnement_genant,1440.0,8.0,48.866787,2.336609
20395,536802G20140306114341,1.0,Stationnement_genant,1440.0,8.0,48.866935,2.332925
20398,339205G20111114100748,1.0,Livraison_BUS,1140.0,7.0,48.864615,2.345662
20473,11342,1.0,Stationnement_genant,1440.0,3.0,48.861272,2.342554

In [6]:
df_test = g1[['Duree']].agg([pd.Series.sum])
df_test

                    Duree
                      sum
Arrondissement
-1.0               4320.0
 0.0            2337960.0
 1.0             657810.0
 2.0             544920.0
 3.0             634200.0
...                   ...
 18.0           1473052.0
 19.0           1555920.0
 20.0           1910100.0
 21.0            551520.0
 22.0            599040.0

[24 rows x 1 columns]

In [7]:
df_Q1 = g1['Duree'].sum()
df_Q1

Arrondissement
-1.0        4320.0
 0.0     2337960.0
 1.0      657810.0
 2.0      544920.0
 3.0      634200.0
           ...
 18.0    1473052.0
 19.0    1555920.0
 20.0    1910100.0
 21.0     551520.0
 22.0     599040.0
Name: Duree, Length: 24, dtype: float64

In [8]:
# Stocker les rÃ©sultats Q1 dans une dictionnaire

In [9]:
# Supprimer la ligne 'Arrondissement 0'
df_Q1 = df_Q1.drop([0])
df_Q1

Arrondissement
-1.0        4320.0
 1.0      657810.0
 2.0      544920.0
 3.0      634200.0
 4.0      714360.0
           ...
 18.0    1473052.0
 19.0    1555920.0
 20.0    1910100.0
 21.0     551520.0
 22.0     599040.0
Name: Duree, Length: 23, dtype: float64

In [10]:
#df_Q1.to_csv('dfq1.csv')

In [11]:
liste_arro = df_Q1.keys()
liste_arro

Float64Index([-1.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0,
              22.0],
             dtype='float64', name='Arrondissement')

In [12]:
dict_Q1 = {}
for arro in liste_arro:
    dict_Q1[arro] = df_Q1[arro]
dict_Q1

{-1.0: 4320.0,
 1.0: 657810.0,
 2.0: 544920.0,
 3.0: 634200.0,
 4.0: 714360.0,
 5.0: 797550.0,
 6.0: 746160.0,
 7.0: 1198680.0,
 8.0: 1194030.0,
 9.0: 825780.0,
 10.0: 850650.0,
 11.0: 1214520.0,
 12.0: 1487310.0,
 13.0: 1924500.0,
 14.0: 1576650.0,
 15.0: 2152740.0,
 16.0: 2505660.0,
 17.0: 1834139.0,
 18.0: 1473052.0,
 19.0: 1555920.0,
 20.0: 1910100.0,
 21.0: 551520.0,
 22.0: 599040.0}

In [13]:
# L'arrondissement a plus de horaires ouvertes
max_valeur_Q1 = 0
max_arro_Q1 = 0
for k in dict_Q1:
    if dict_Q1[k] > max_valeur_Q1:
        max_valeur_Q1 = dict_Q1[k]
        max_arro_Q1 = k
print(max_valeur_Q1, max_arro_Q1)

2505660.0 16.0

In [14]:
# l'arrondissement -1 n'a que 3 place parkting qui ne donnera pas
# trop de sens dans la comparasion
# On va donc comparer les autres arrondissements
min_valeur_Q1 = dict_Q1[1]
min_arro_Q1 = 1
for k in dict_Q1:
    if k == -1:
        pass
    elif dict_Q1[k] < min_valeur_Q1:
        min_valeur_Q1 = dict_Q1[k]
        min_arro_Q1 = k
print(min_valeur_Q1, min_arro_Q1)

544920.0 2.0

In [15]:
# Q2 : Quels types des stationnements interdits Ã©taient plus / moins populaires
# dans arrondissements de Paris ?

In [16]:
# Construire la matrice d'arrondissement et combien de fois on a un type de stationnement
freq = df.groupby(['Arrondissement', 'Regime_particulier']).size()
freq

Arrondissement  Regime_particulier
-1.0            Arret_genant_divers                 3
 0.0            Arret_Pompiers                     16
                Arret_genant_divers               124
                Arret_simple                       56
                Arret_vigipirate_non_perennise     17
                                                 ...
 22.0           Arret_genant_divers                19
                Arret_simple                       24
                Arret_vigipirate_non_perennise      1
                Stationnement_genant              328
                Stationnement_simple               41
Length: 185, dtype: int64

In [17]:
# dÃ©viser une colonne en 3 colonnes
freq = freq.reset_index()
freq

     Arrondissement              Regime_particulier    0
0              -1.0             Arret_genant_divers    3
1               0.0                  Arret_Pompiers   16
2               0.0             Arret_genant_divers  124
3               0.0                    Arret_simple   56
4               0.0  Arret_vigipirate_non_perennise   17
..              ...                             ...  ...
180            22.0             Arret_genant_divers   19
181            22.0                    Arret_simple   24
182            22.0  Arret_vigipirate_non_perennise    1
183            22.0            Stationnement_genant  328
184            22.0            Stationnement_simple   41

[185 rows x 3 columns]

In [18]:
type(freq)

pandas.core.frame.DataFrame

In [19]:
# Calculer les types des stationnements interdits Ã©taient plus / moins populaires
groups = freq.groupby(by=['Arrondissement'])
# Les plus populaires
freq2=groups.apply(lambda g: g[g[0] == g[0].max()]) 
freq2

                    Arrondissement    Regime_particulier    0
Arrondissement
-1.0           0              -1.0   Arret_genant_divers    3
 0.0           7               0.0  Stationnement_genant  963
 1.0           16              1.0  Stationnement_genant  241
 2.0           24              2.0  Stationnement_genant  218
 3.0           32              3.0  Stationnement_genant  264
...                            ...                   ...  ...
 18.0          155            18.0  Stationnement_genant  655
 19.0          163            19.0  Stationnement_genant  607
 20.0          171            20.0  Stationnement_genant  795
 21.0          177            21.0  Stationnement_genant  271
 22.0          183            22.0  Stationnement_genant  328

[24 rows x 3 columns]

In [20]:
# Renomer les colonnes
freq2 = freq2.rename(columns={'Regime_particulier':'Max_Regime_particulier', 0:'Numbre_Max'})
freq2

                    Arrondissement Max_Regime_particulier  Numbre_Max
Arrondissement
-1.0           0              -1.0    Arret_genant_divers           3
 0.0           7               0.0   Stationnement_genant         963
 1.0           16              1.0   Stationnement_genant         241
 2.0           24              2.0   Stationnement_genant         218
 3.0           32              3.0   Stationnement_genant         264
...                            ...                    ...         ...
 18.0          155            18.0   Stationnement_genant         655
 19.0          163            19.0   Stationnement_genant         607
 20.0          171            20.0   Stationnement_genant         795
 21.0          177            21.0   Stationnement_genant         271
 22.0          183            22.0   Stationnement_genant         328

[24 rows x 3 columns]

In [29]:
# Refaire l'index et supprimer la colonne 'Arrondissement'
freq2 = freq2.reset_index(level=1, drop=True).drop('Arrondissement', axis='columns')
freq2

               Max_Regime_particulier  Numbre_Max
Arrondissement
-1.0              Arret_genant_divers           3
 0.0             Stationnement_genant         963
 1.0             Stationnement_genant         241
 2.0             Stationnement_genant         218
 3.0             Stationnement_genant         264
...                               ...         ...
 18.0            Stationnement_genant         655
 19.0            Stationnement_genant         607
 20.0            Stationnement_genant         795
 21.0            Stationnement_genant         271
 22.0            Stationnement_genant         328

[24 rows x 2 columns]

In [22]:
# Les plus populaires
freq3=groups.apply(lambda g: g[g[0] == g[0].min()])
freq3

                    Arrondissement              Regime_particulier   0
Arrondissement
-1.0           0              -1.0             Arret_genant_divers   3
 0.0           9               0.0                            rien   1
 1.0           13              1.0  Arret_vigipirate_non_perennise   1
 2.0           20              2.0                    Arret_simple   5
               21              2.0  Arret_vigipirate_non_perennise   5
...                            ...                             ...  ..
 18.0          151            18.0                    Arret_simple  15
 19.0          162            19.0                   Livraison_BUS  14
 20.0          173            20.0                            rien   5
 21.0          176            21.0  Arret_vigipirate_non_perennise   5
 22.0          182            22.0  Arret_vigipirate_non_perennise   1

[25 rows x 3 columns]

In [23]:
# Renomer les colonnes
freq3 = freq3.rename(columns={'Regime_particulier':'Min_Regime_particulier', 0:'Numbre_Min'})
freq3

                    Arrondissement          Min_Regime_particulier  Numbre_Min
Arrondissement
-1.0           0              -1.0             Arret_genant_divers           3
 0.0           9               0.0                            rien           1
 1.0           13              1.0  Arret_vigipirate_non_perennise           1
 2.0           20              2.0                    Arret_simple           5
               21              2.0  Arret_vigipirate_non_perennise           5
...                            ...                             ...         ...
 18.0          151            18.0                    Arret_simple          15
 19.0          162            19.0                   Livraison_BUS          14
 20.0          173            20.0                            rien           5
 21.0          176            21.0  Arret_vigipirate_non_perennise           5
 22.0          182            22.0  Arret_vigipirate_non_perennise           1

[25 rows x 3 columns]

In [30]:
# Refaire l'index et supprimer la colonne 'Arrondissement'
freq3 = freq3.reset_index(level=1, drop=True).drop('Arrondissement', axis='columns')
freq3

                        Min_Regime_particulier  Numbre_Min
Arrondissement
-1.0                       Arret_genant_divers           3
 0.0                                      rien           1
 1.0            Arret_vigipirate_non_perennise           1
 2.0                              Arret_simple           5
 2.0            Arret_vigipirate_non_perennise           5
...                                        ...         ...
 18.0                             Arret_simple          15
 19.0                            Livraison_BUS          14
 20.0                                     rien           5
 21.0           Arret_vigipirate_non_perennise           5
 22.0           Arret_vigipirate_non_perennise           1

[25 rows x 2 columns]

In [31]:
# Merger 'freq2' et 'freq3'
df_Q2 = freq2.join(freq3, how='right')
df_Q2

,Max_Regime_particulier,Numbre_Max,Min_Regime_particulier,Numbre_Min
Arrondissement,,,,
-1.0,Arret_genant_divers,3,Arret_genant_divers,3
0.0,Stationnement_genant,963,rien,1
1.0,Stationnement_genant,241,Arret_vigipirate_non_perennise,1
2.0,Stationnement_genant,218,Arret_simple,5
2.0,Stationnement_genant,218,Arret_vigipirate_non_perennise,5
...,...,...,...,...
18.0,Stationnement_genant,655,Arret_simple,15
19.0,Stationnement_genant,607,Livraison_BUS,14
20.0,Stationnement_genant,795,rien,5
21.0,Stationnement_genant,271,Arret_vigipirate_non_perennise,5
22.0,Stationnement_genant,328,Arret_vigipirate_non_perennise,1

In [36]:
# Supprimer l'arrondissement '0'
df_Q2 = df_Q2.drop(0, axis='index')       # 0 sans ''
df_Q2

,Max_Regime_particulier,Numbre_Max,Min_Regime_particulier,Numbre_Min
Arrondissement,,,,
-1.0,Arret_genant_divers,3,Arret_genant_divers,3
1.0,Stationnement_genant,241,Arret_vigipirate_non_perennise,1
2.0,Stationnement_genant,218,Arret_simple,5
2.0,Stationnement_genant,218,Arret_vigipirate_non_perennise,5
3.0,Stationnement_genant,264,Arret_simple,5
...,...,...,...,...
18.0,Stationnement_genant,655,Arret_simple,15
19.0,Stationnement_genant,607,Livraison_BUS,14
20.0,Stationnement_genant,795,rien,5
21.0,Stationnement_genant,271,Arret_vigipirate_non_perennise,5
22.0,Stationnement_genant,328,Arret_vigipirate_non_perennise,1

In [37]:
df_Q2.to_csv('dfq2.csv')

In [ ]:
# Q3 : Dans quels mois Ã©tait plus / moins garÃ© plus longtemps / plus courts ?

In [38]:
# regrouper par 'Mois'
df_Q3 = df.groupby(by="Mois")

In [39]:
# Somme de 'Duree' 
g3=df_Q3['Duree'].agg([pd.Series.sum])
g3.reset_index()
g3

             sum
Mois
1.0     146580.0
2.0       2880.0
3.0      45780.0
4.0      33120.0
5.0     444960.0
...          ...
7.0    3545580.0
8.0   24490911.0
9.0     315360.0
10.0     87840.0
11.0      1440.0

[11 rows x 1 columns]

In [40]:
# Maximun et Mininum
q3max = g3[g3.values == int(g3.max())]
q3min = g3[g3.values == int(g3.min())]
print(q3max, q3min)

             sum
Mois
8.0   24490911.0          sum
Mois
11.0  1440.0

In [43]:
g3.to_csv('dfq3.csv')